body {
    background: #000;
    padding: 0;
    margin: 0;
    color: #ddd;
}

a {
    color: #fff;
}

#main {
    padding: 8px;
}

#menu {
    margin: 0;
    padding: 8px;
    background: #bbb;
}

#menu li {
    display: inline;
    margin-right: 20px;
}

#menu li a {
    color: #000;
    font-family: monospace;
}

h1 {
    margin: 0;
    padding: 8px;
    background: #fff;
    color: #000;
    font-family: monospace;
}

.vitals {
    font-family: monospace;
}

h2 {
    padding: 8px;
}

h2, h3, h4 {
    font-family: monospace;
    color: #ddd;
}

h4 {
    font-size: 200%;
    margin: 0;
}

button.next {
    border: solid 2px #090;
    background: #9f9;
}

button.back {
    border: solid 2px #000;
}

button.city-nav {
    font-size: 300%;
}

button.city-nav:disabled {
    background: #a9a9a9;
    border: solid 2px #000;
}

.event {
    color: #000;
    border: solid 1px #999;
    font-size: 110%;
    padding: 10px;
    max-width: 45%;
}

.event.virtual {
    background: #fdd;
    float: left;
}

.event.history {
    background: #dfd;
    float: right;
}

a.source {
    font-family: monospace;
    background: #050;
    margin: 0 5px;
    padding: 4px;
    border: solid 1px #090;
    color: #ccc;
}

.event-container {
    clear: both;
}

.leaflet-container {
    clear: both;
}

.notes {
    font-size: 90%;
    border: solid 1px #999;
    padding: 5px 5px 5px 20px;
    background: #333;
}

.leaflet-popup-content, .leaflet-popup-content h3 {
    color: #000;
}

#footer {
    clear: both;
    padding: 8px;
    font-size: 70%;
    font-family: monospace;
}

#credits {
    margin: 0;
    padding: 0;
}

#credits li {
    display: inline;
    margin: 0;
}

#credits li:before {
    content: " | ";
}

#credits li:first-child:before {
    content: none;
}

.place-list {
    float: left;
    margin-right: 50px;
}

.place-list ul {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 700px) {
    .event.virtual, .event.history {
        float: none;
        max-width: 100%;
    }
}
