<p ng-hide="canGoBack">How would {[ ::city.name ]} be affected by an illegal occupation? We'll start today and
    use the current population of ~{[ ::city.population | number ]}.</p>
<p ng-show="canGoBack"><a href="#" ng-click="restart()">&lt; Back to start</a></p>

<div class="vitals">
<h4>{[ dayHeading ]}</h4>
<p>Local population: <strong>{[ population | number ]}</strong></p>
<p ng-show="refugees > 0">Refugees: <strong>{[ refugees | number ]}</strong></p>
<p ng-show="settlers > 0">Settlers: <strong>{[ settlers | number ]}</strong></p>
<p ng-show="settlements">Settlements: <strong>{[ settlements | number ]}</strong></p>
<p ng-show="settlerArea">Settler controlled area: <strong>{[ settlerArea | number ]}km²</strong></p>
</div>

<div>
    <button class="city-nav back" ng-click="back()" ng-disabled="!canGoBack">&lt;</button>
    <button class="city-nav next" ng-click="progress()" ng-disabled="!canGoForward">&gt;&gt;</button>
</div>

<div class="leaflet-container">
    <leaflet defaults="defaults" center="center" markers="markers" paths="paths" geojson="geojson"
             height="480px" width="640px"></leaflet>
</div>

<div ng-repeat="event in events" class="event-container">
    <p ng-if="event.virtual" class="virtual event" compile="event.virtual | interpolate : city"></p>
    <p ng-if="event.history" class="history event" compile="event.history | interpolate : city"></p>
</div>

<ul class="notes">
    <li>When talking about fictional {[ ::city.name ]} we use areas and population numbers in proportion to 1940s Palestine. We try
    make {[ ::thisYear ]} {[ ::city.name ]} analogous to 1946 Palestine.</li>
    <li>To simplify area calculations we mostly just consider the West Bank, taken to be 5,860km².</li>
    <li>Estimated numbers of settlements include unofficial 'outposts'.</li>
</ul>
