<p>Welcome to an alternate reality where {[ ::city.name ]} is going to become less fortunate. We'll start today and
    use the current population of ~{[ ::city.population | number ]}.</p>

<div class="vitals">
<h4>{[ dayHeading ]}</h4>
<p>Local population: <strong>{[ population | number ]}</strong></p>
</div>

<div ng-repeat="event in events">
    <p ng-if="event.virtual" class="virtual event" compile="event.virtual | interpolate : city"></p>
    <p ng-if="event.history" class="history event" compile="event.history | interpolate : city"></p>
</div>

<div>
    <button class="back" ng-click="back()" ng-show="canGoBack">&lt;</button>
    <button class="next" ng-click="progress()" ng-show="canGoForward">&gt;&gt;</button>
</div>

<leaflet defaults="defaults" center="center" markers="markers" paths="paths" geojson="geojson"
         height="480px" width="640px"></leaflet>

<ul class="notes">
    <li>When talking about fictional {[ ::city.name ]} we use areas and population numbers in proportion to 1940s Palestine. We try
    make {[ ::thisYear ]} {[ ::city.name ]} analogous to 1946 Palestine.</li>
    <li>To simplify area calculations we mostly just consider the West Bank, taken to be 5,860km².</li>
    <li>Estimated numbers of settlements include unofficial 'outposts'.</li>
</ul>
