{% extends 'OccupiedMainBundle::layout.html.twig' %}

{% block content %}
    <h1>occupied.city</h1>
    <h2>Visualise an Occupation of your city.</h2>

    <p>How would your life be affected by occupation? Choose your city below to explore.</p>

{% endblock %}
